<div>
  <h2>Welcome to my quotes app </h2>
  <hr>
  <br>
  <div class="row">
    <div class="col-md-5">
      <ul>
        <li *ngFor="let quote of quotes">{{quote.cite}}
          <p>By {{quote.name}}</p>
          <p>Created on {{quote.dateCreated}}</p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-outline-success" (click)="like()">Like</button>
            <p>Count:</p>

            <button class="btn btn-outline-primary" (click)="Deslike()">DesLike</button>
            <p>Count:</p>
            <button class="btn btn-outline-danger" (click)="quoteDelete()">Delete quote</button>

          </div>

        </li>



      </ul>


    </div>
    <div class="col-md-6">
      <app-form (addQuote)="addNewQuote($event)"></app-form>
    </div>
   
    
  </div>
  <br>
  <div class="card-footer d-flex justify-content-center">

    <p>&copy; Copyright 2021 Ibrahim Development All rights reserved.</p>

  </div>



</div>
