<div>
  <div class="top">
    <br>
    <br>
    <h2>Welcome to my quotes app  </h2>
    <p class="text-warning"> {{today}}</p>


  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-md-5">
      <!-- <div *ngFor='let quote of quotes;let i = index'>
        <div> -->
      <ul>
        <li *ngFor="let quote of quotes;  let i = index">
          <p >" {{quote.cite}} " </p>
          <p >By {{quote.name}} </p>
          <i *ngIf='totalVoteCount' appHighlight class="bi bi-star-fill" ></i>
        
          <p>Created on {{quote.dateCreated | date}}</p>  
          

          <div class="d-flex justify-content-between">
            <button class="btn btn-outline-success" (click)="upvote()">Likes</button>

            <p>Count: {{totalVoteCount}}</p>

            <button class="btn btn-outline-primary" (click)="downvote()">DesLikes</button>
            <p>Count: {{totalVoteCount}}</p>

            <button class="btn btn-outline-danger" (click)="quoteDelete(i)">Delete quote</button>
          </div>

        </li>


      </ul>



    </div>
    <div class="col-md-5">
      <app-form (addQuote)="addNewQuote($event)"></app-form>
    </div>


  </div>
  <br>
  <div class="card-footer d-flex justify-content-center">

    <p>&copy; Copyright 2021 Ibrahim Development All rights reserved.</p>

  </div>



</div>
